# make sure not to check this file into source code control
spring:
  profiles:
    active: @spring.profiles.active@
  security:
    oauth2:
      client:
        registration:
          okta:
            client-id: <id>
            client-secret: <secret>
            scope: openid, email, profile
        provider:
          okta:
            issuer-uri: https://dev-274004.okta.com/oauth2/default

logging:
  level:
    org:
      springframework: INFO
      openheart: DEBUG

  pattern:
    console: '%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n'

image:
  directory: classpath:static/images/
  #see https://regex101.com/r/RHSuzi/5
  regex:
    java: '\\s+([0-9]*\\.?[0-9]*)\\s+([Bb][Hh][Uu][Mm][Ii])'

